@model EmailApp.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Enter your name <br />and start sending mail!</h1>

<form method="post" asp-action="OpenProfile" asp-controller="Email">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <br /><input asp-for="UserName" placeholder="username" name="username" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <br /><input type="submit" class="btn btn-primary" value="Go to profile" /><br />
    </div>
</form>


